# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Local datasets and model weights
backend/data/
backend/saved_models/*
!backend/saved_models/.gitkeep

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Testing cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db